#!/bin/sh -e

# Source debconf library.
. /usr/share/debconf/confmodule

# If configuration file already exists, ask if we have to force overwrite
if [ -f "/etc/ansible/ansible.cfg" ]; then
    db_input high ansible/force_overwrite || true
    db_go

    db_get ansible/force_overwrite
    if [ "$RET" != "true" ]; then
        exit 0
    fi
fi


# Which transport to use ?
db_input medium ansible/transport || true
db_go

# If transport is "smart" or "ssh", ask SSH config
# NOTE: Does "acceleration" need SSH config ?
db_get ansible/transport
if [ "$RET" = "smart" ] || [ "$RET" = "ssh" ] || [ "$RET" = "paramiko" ]; then
    db_input medium ansible/ssh_remote_port || true
    db_go

    db_input medium ansible/ssh_timeout || true
    db_go
fi

# Callback to use
db_input medium ansible/callback || true
db_go


# Number of parallel processes ?
db_input low ansible/forks || true
db_go

# Poll interval of asynchronous tasks
db_input low ansible/poll_interval || true
db_go

# Gathering policy
db_input low ansible/gathering || true
db_go
